* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  background-color: rgb(224, 219, 219);
  display: flex;
  flex-direction: column;
  font-family: Roboto Flex , sans-serif;
  min-height: 100vh;
}
